<h2>ASP.NET Core User Reviews</h2>
<p>ASP.NET 5 has been re-imagined from the ground up to provide a faster development experience, best in class performance, full side-by-side support, and cross platform support for Linux and Mac. In this video, Scott Hunter gives an overview of what's new in ASP.NET 5 and provides a short demo of the new tooling inside of Visual Studio 2015
<p>
<hr>
<router-outlet></router-outlet>
<div style="text-align: center">Designed and built with angularJs and MongoDB by Tanveer Ali.</div>